.news {
  width: 80%;
  margin: 0 auto;

  .loadmore {
    margin: 5rem 0;
    width: 10rem;
    height: 5rem;
    background-color: red;
    border: none;
    color: white;

    &:hover {
      background-color: green;
    }
  }
}
